<div class="breadcrumb-container" fxLayout="row" fxLayoutAlign="start start">
  <a routerLink="/dashboard">
    <div>Home</div>
  </a>
  <mat-icon>chevron_right</mat-icon>
    <div>Teams</div>
</div>
<h2>Teams aer here:</h2>

<mat-nav-list>
   <a mat-list-item *ngFor="let team of Teams; let i = index"> {{ team.TeamName }}

     <br/>

     {{ team.id }}

     <button mat-raised-button color="primary" routerLink="/teams/{{team._id}}">Edit</button>
     <button mat-raised-button color="warn" (click)="delete(team._id, i)">Delete</button>


   </a>
</mat-nav-list>
