<h2>Hello, Sally 👋</h2>

<div fxLayout="column" fxFill fxLayoutGap="15px">

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="15px">

    <mat-card class="gm-card gm-card-alt" fxFlex="32"  fxLayout="column" fxLayoutAlign="space-between start">
      <mat-card-title-group>
        <mat-card-title>Invite your team members</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <div class="gm-icon-cirle">
            <mat-icon>group_add</mat-icon>
          </div>
          <p>Invite your team members to join you on Greater Moment</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">Invite your team</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="gm-card" fxFlex="32" fxLayout="column" fxLayoutAlign="space-between start">
      <mat-card-title-group>
        <mat-card-title>Assess your skills</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <div class="gm-icon-cirle">
            <mat-icon>auto_fix_normal</mat-icon>
          </div>
          <p>Go through a Skills Assessment & Gap Analysis to find learning opportunities.</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Start a skills assessment</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="gm-card" fxFlex="32" fxLayout="column" fxLayoutAlign="space-between start">
      <mat-card-title-group>
        <mat-card-title>Grow & nurture new skills</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <div class="gm-icon-cirle">
            <mat-icon>school</mat-icon>
          </div>
          <p>Define new skills to build & create more learning commitments to practice</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Create skills to grow</button>
      </mat-card-actions>
    </mat-card>



  </div> <!-- END fxLayout-->

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="15px">

    <mat-card class="gm-card" fxFlex="32" fxLayout="column" fxLayoutAlign="space-between start">
      <mat-card-title-group>
        <mat-card-title>Start a learning sprint</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <div class="gm-icon-cirle">
            <mat-icon>directions_run</mat-icon>
          </div>
          <p>Sprint along to an 8 to 12-week learning period. and some more here </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Start a learning sprint</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="gm-card" fxFlex="32" fxLayout="column" fxLayoutAlign="space-between start">
      <mat-card-title-group>
        <mat-card-title>Track your One-on-One's</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <div class="gm-icon-cirle">
            <mat-icon>people_outline</mat-icon>
          </div>
          <p>Set agendas, track conversations & get notified on follow-ups</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Start a One-on-One</button>
      </mat-card-actions>
    </mat-card>




  </div> <!-- END fxLayout-->
</div> <!-- END fxLayout-->
